name: SwiftLint

on:
  pull_request:
    paths:
      - "**/*.swift"
      - ".swiftlint.yml"

defaults:
  run:
    shell: bash -xeuo pipefail {0}

concurrency:
  group: "swiftlint-${{ github.ref }}"
  cancel-in-progress: true

permissions: {}

jobs:
  lint:
    name: SwiftLint
    runs-on: macos-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install SwiftLint
        run: brew install swiftlint

      - name: Lint
        run: swiftlint lint --strict --reporter github-actions-logging
